p {
    text-align: justify;
}

.color-main {
    color: #7658ED;
}

.color-green {
    color: #8DB342;
}

.color-yellow {
    color: #d9b950;
}

.color-blue {
    color: #507ED9;
}

.color-grey {
    color: #746B98;
}

p > code {color: #7658ED;}
li > code {color: #7658ED;}

.half{
    width: 50%;
    margin-left: 25%;
}

.radius-25px{border-radius: 25px;padding: 5px;}
.radius-50pct{border-radius: 50%;}