p {
    text-align: justify;
}

.color-main {
    color: #7658ED;
}

.color-green {
    color: #8DB342;
}

.color-yellow {
    color: #d9b950;
}

.color-blue {
    color: #507ED9;
}

.color-grey {
    color: #746B98;
}