<div style="width: 100%; display: flex; justify-content: space-between; flex-direction: row;">
<p><a href="mailto:mptcp@lists.linux.dev">mptcp@lists.linux.dev</a></p>
<p><a href="https://lore.kernel.org/mptcp">archives</a></p>
<p><a href="https://github.com/multipath-tcp/mptcp_net-next.git">Git Repository</a></p>
<p><a href="https://github.com/multipath-tcp/mptcp_net-next/wiki/Git-Branches">branch descriptions</a></p>
<p><a href="https://github.com/multipath-tcp/mptcp_net-next/issues">Issue tracker</a></p>
</div>