{%- assign nav_pages = include.pages
    | where_exp: "item", "item.title != nil"
    | where_exp: "item", "item.nav_exclude != true" -%}

{%- include sorted_pages.html pages = nav_pages -%}

{%- assign first_level_pages = sorted_pages
    | where_exp: "item", "item.parent == nil" -%}

<ul class="nav-list">
{%- for node in first_level_pages -%}
  {% assign node_lines = node.content | newline_to_br | split: "<br />" %}
  <li class="nav-list-item">
    {%- if node.has_children or node_lines.size > 1 -%}
    <button class="nav-list-expander btn-reset" aria-label="toggle items in {{ node.title }} category" aria-pressed="false">
      <svg viewBox="0 0 24 24" aria-hidden="true"><use xlink:href="#svg-arrow-right"></use></svg>
    </button>
    {%- endif -%}
    <a href="{{ node.url | relative_url }}" class="nav-list-link">{{ node.title }}</a>
    <ul class="nav-list">
      {% for line in node_lines %}
        {% if line contains '##' %}
          {% assign title = line |split: '#' | last | strip %}
          {% assign url = node.url | relative_url %}
          {% unless url == '/' %}
            {% assign url = url | append: '/' %}
          {% endunless %}
          <li class="nav-list-item"><a href="{{ url }}#{{ title | downcase | replace: ' ', '-'}}" class="nav-list-link">{{ title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
{%- endfor -%}
</ul>